@import '../../styles/mixins';
@import '../../styles/variables';

.CourseModal {
    width: 100vw;
    height: 100vh;
        
    .overlay{
        background-color: rgba(0, 0, 0, 0.712);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .content{
        position: fixed;
        z-index: 2;
        height: 500px;
        width: 45%;
        top: 44%;
        left: 50%;
        padding: 0 100px;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        background-color: $active;
        text-align: center;  
        border-radius: 10px;
        color: $primary;
    }
    
    .form{
        @include flex-box(column, center, center);
        gap: 10px;
        width: 100%;

        input{
        width: 300px;
        }

        button{
            @include button;
            margin-top: 20px;
        }
    }
}