@import '../../styles/mixins';
@import '../../styles/variables';

.Button{
    @include button;
    text-align: center;
}

@media (max-width: 600px){
    
    .Button {
        height: 50px;
        gap:5px;
    }
}