@import '../../styles/mixins';
@import '../../styles/variables';

.Hero{

    &__categories{
        @include flex-box;
    }

    margin-top: $standard-margin-top;
    
    &__img{
        width: 100%;
        height: 500px;
        opacity: 0.90;
        object-fit: cover;
    }
    
}