.Popup{
    @include flex-box(column, center, center);
    width: 300px;
    height: 200px;
    color: $primary;
    background-color: $active;
    border-radius: $standard-radius;
    position: fixed;
    top: 40%;
    left: 50%;
    gap: $min-gap;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid $primary;
}