@import '../../styles/mixins';
@import '../../styles/variables';

.Card{
    margin-top: 10px;
    
    .wrapper{
        @include card;
        background-color: $active;
    }

    .img{
        border-radius: 10px;
        width: 200px;
    }
}