@import '../../styles/mixins';
@import '../../styles/variables';

.Card{
    z-index: 1;
    margin-top: 10px;
    
    &__wrapper{
        @include card;
        background-color: $active;
    }

    &__img{
        border-radius: 10px;
        width: 200px;
    }
}