@import "../../styles/mixins";
@import "../../styles/variables";


.Navbar {
    @include flex-box(row, space-around, center);
    margin-top: $standard-margin-top;
    height: 110px;
    padding: 0 30px;

    .logo{
        height: 40px;
    }

    .list{
        display: none;
    
        a{
        @include button;
        list-style-type: none;}

        a:hover {
            background-color: $secondary;
        }
    }

    .hamburger{
        display: block;
        padding: 5px;
        width:  27px;
        height: 27px;
        background-color: $primary;
        border-radius: 10px;
        cursor: pointer;

        &:hover{
            background-color: $secondary;
        }
    }

    .button{
        @include button;
        text-align: center;
        height: 38px;
    }
    
    @media screen and (min-width: 600px){
        .list {
            display: flex ;
            gap: 20px;
        }

        .hamburger{
            display: none;
        }
    }
}
