@import "../../styles/mixins";
@import "../../styles/variables";


.Navbar {
    @include flex-box;
    margin-top: $standard-margin-top

    &__logo {
        height: 40px;
    }

    &__list{
        display: flex;
        gap: 20px;
    }
    
    &__list li{
        @include button;
        list-style-type: none;

        &:hover {
            background-color: $secondary;
        }
    }
}