.DrinkDetails{
    @include flex-box(row, space-around, center);
    background-color: $active;
    position: relative;
    width: 60%;
    height: 600px;
    border-radius: $standard-radius;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 2px solid $primary;
    color: $primary;
    
    h2{
        position: absolute;
        font-size: 2rem;
        top: 10px;
        color: $secondary;
    }

    h3{
        color: $secondary;
    }

    p{
        margin: $margin-reset;
    }
    
    .arrow{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 35px;
        left: 35px;
    }
    
   .texts{
        @include flex-box(column, center, space-between);
        height: 60%;
        margin-left: 20px;
        padding-left: 20px;
        border-left: 2px solid $primary;
        padding-right: 60px;
        text-align: justify;
        width: 50%;
    }

   .titles{
        align-self: flex-start;
        width: 100%;
        gap: $min-gap;
        @include flex-box(row, start, center);
    }
    
    .desc{
        width: 100%;
        gap: $min-gap;
        @include flex-box(column, center, start);
    }
    
    .img {
        width: 40%;
        margin-left: 40px;
        margin-top: 35px;
        border-radius: $standard-radius;
    }

}

@media (max-width: 999px) {
    .DrinkDetails{
        width: 80%;
        height: 1100px;
        @include flex-box(column, center, center);

        h2{
            position: absolute;
            font-size: 2rem;
            top: 20px;
            left: 42%;
            color: $secondary;
        }

        .img{
            width: 80%;
            margin: $margin-reset;
            margin-top: 120px;
        }

        .texts{
            border-left: 2px solid transparent;
        }
    }
}