@import '../../styles/mixins';
@import '../../styles/variables';

.Footer{
    @include flex-box(column, center, center);
    margin-top: 50px;
    gap: 20px;

    p{
        margin-top: 0;
    }

    .logo{
        width: 150px;
    }

    .texts{
        @include flex-box(column, center, center);
    
    }

    @media screen and (min-width: 600px) {
        .texts{
            @include flex-box(row, center, center);
            gap: 20px;
            margin-top: 10px;
            font-size: 12px;
        }
    }
}
