.Footer{
    @include flex-box(column, center, center);
    margin-top: 50px;
    gap: $standard-gap;

    p{
        margin-top: $margin-reset;
    }

    .logo{
        width: 150px;
    }

    .texts{
        @include flex-box(column, center, center);
    
    }

    @media screen and (min-width: 600px) {
        .texts{
            @include flex-box(row, center, center);
            gap: $standard-gap;
            margin-top: $standard-margin-top;
            font-size: 12px;
        }
    }
}
